
@{
    ViewBag.Title = "Index";
}
<script>
    $().ready(function () {
        $("#NazwaSzukaj").keyup(ajaxCompanyFilter)
      
    });
    $().ready(function () {
        $("#RegonSzukaj").keyup(ajaxCompanyFilter)

    });
    var ajaxCompanyFilter = function () {
            var companyName = $("#NazwaSzukaj").val();
            var companyRegon = $("#RegonSzukaj").val();
        $.ajax({
            url: '@Url.Action("CompaniesList")',
            data: {
                companyName: companyName == null ? "" : companyName, companyRegon: companyRegon == null ? "" : companyRegon
            },
            success: function (data) {
                $("#companies-list").html(data);
            }
        })
     }
    </script>

 <p>Nazwa firmy: @Html.TextBox("NazwaSzukaj")</p>
 <p>Regon: @Html.TextBox("RegonSzukaj")</p>


<h2>Companies Index</h2>

<div id="companies-list">
    @Html.Action("CompaniesList")

</div>

<p>@Html.ActionLink("Dodaj nową" , "Create")</p>