@model WebUI.Models.UserViewModel
@{

    ViewBag.Title = "Create";

    
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#CompanyName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Company/AutoCompleteClientName",
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CompanyName, value: item.CompanyName, };

                        }))

                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function(event, ui) {
                //close the drop down
            this.close
            },

        open: function() {
            $('.ui-autocomplete').css({'list-style': 'none', 'background-color':'white'});
        },

        });

    });

    $(document).ready(function () {
        $("#companyFieldToggle").click(function(){
            $("#CompanyForm").fadeToggle();
            $("#CompanyAddOutput").hide();
            $("#CompanyAddOutput").text("");
        })
    })
    function onSuccess(data) {
        $("#CompanyAddOutput").show();
        $("#CompanyAddOutput").text(data);
    }
    
    $(document).ready(function (){
        $("#CreatePasswordAutomatically").click (function()
        {
                $("#user_Password").val($("#user_Login").val().toString());
                $("#passwordConfirmation").val($("#user_Login").val().toString());
        })
    })
</script>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
        
        <legend>Podaj swoje dane</legend>
        <p>Dane obowiązkowe: </p>   
            @Html.ValidationMessageFor(x => x.user.Login)
            @Html.LabelFor(x => x.user.Login)
            @Html.EditorFor(x => x.user.Login)
            @Html.ValidationMessageFor(x => x.user.Password)
            @Html.LabelFor(x => x.user.Password)
            @Html.EditorFor(x => x.user.Password)
            @Html.ValidationMessageFor(x => x.passwordConfirmation)
            @Html.LabelFor(x => x.passwordConfirmation)
            @Html.EditorFor(x => x.passwordConfirmation)
            
            <p>Dane dodatkowe: </p>
            @Html.LabelFor(x => x.user.Phone)
            @Html.EditorFor(x => x.user.Phone)
             @Html.LabelFor(x => x.user.Name)
            @Html.EditorFor(x => x.user.Name)
          @Html.LabelFor(x => x.user.Surname)
            @Html.EditorFor(x => x.user.Surname)  
            @Html.LabelFor(x => x.user.Address)
            @Html.EditorFor(x => x.user.Address)
           @Html.LabelFor(x => x.user.additionalInformation)
            @Html.EditorFor(x => x.user.additionalInformation)
            @Html.LabelFor(x => x.CompanyName)
            @Html.EditorFor(x => x.CompanyName);
        <input type="submit" , value="Zatwierdz" />
    </fieldset>
}
<button id="CreatePasswordAutomatically"> Skopiuj login jako hasło </button>
<p>
<button id="companyFieldToggle" value="Dodaj firmę">Dodaj firmę</button>
    </p>
<div >
    <label id="CompanyAddOutput"></label>
</div>

<div id ="CompanyForm" hidden="hidden">
@using (Ajax.BeginForm("_AddNewCompany", "Company", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSuccess" }))
{
    { Html.RenderPartial("_AddNewCompany", new Company()); }
}
</div>
