
@{
    ViewBag.Title = "Index";
}

<script>
    $().ready(function () {
        $("#NazwiskoSzukaj").keyup(ajaxUserFilter)
      
    });
    $().ready(function () {
        $("#LoginSzukaj").keyup(ajaxUserFilter)

    });
    $().ready(function () {
        $("#ImieSzukaj").keyup(ajaxUserFilter)

    });
    $().ready(function () {
        $("#RoleSelector").change(ajaxUserFilter)
    });
    $().ready(function () {
        $($("#Poka__nieaktywnych")).change(ajaxUserFilter)
    });
    var ajaxUserFilter = function () {
            var selectedRole = $("#RoleSelector").val();
            var sur = $("#NazwiskoSzukaj").val();
            var nam = $("#ImieSzukaj").val();
            var login = $("#LoginSzukaj").val();
            var showInactiveUsers = $("#Poka__nieaktywnych").is(':checked') ? true : false;
        $.ajax({
            url: '@Url.Action("UsersList")',
            data: { surname: sur == null ? "": sur, name: nam == null ? "":nam, 
                login: login == null ? "" : login, selectedRole: selectedRole, showInactiveUsers: showInactiveUsers
            },
            success: function (data) {
                $("#users-list").html(data);
            }
        })
     }
    </script>

<select id="RoleSelector">
    <option value="All">Wszyscy</option>
    <option value="Klient">Klient</option>
    <option value="Biuro">Biuro</option>
    <option value="Admin">Admin</option>
</select>

 <p>Login: @Html.TextBox("LoginSzukaj")</p>
 <p>Nazwisko: @Html.TextBox("NazwiskoSzukaj")</p>
 <p>Imie: @Html.TextBox("ImieSzukaj")</p>
<p>Pokaż nieaktywnych @Html.CheckBox("Pokaż nieaktywnych")</p>
<p>@Html.ActionLink("Dodaj użytkownika", "Create")</p>
<div id="users-list">
    @Html.Action("UsersList")

</div>
